.search-bar {
  margin: 5px 20px;
  padding: 8px;
  border-radius: 10px;
  border: solid 2px gainsboro;
  outline: invert;
}
.table {
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0px 1px 2px 2.5px #c0bfbf;
}
.td {
  border: 1px solid #ccc;
}

.search-bar-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
